* {
  font-family: raleway;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e0d8;
}

/* Logo y enlaces, añade espacio entre */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Enlaces del header: 'suppliers' y 'work with us' */
header a {
  color: #e5e0d8;
  text-decoration: none;
  text-align: right;
  font-weight: 500;
  font-size: x-large;
  letter-spacing: 5px;
}

header a:hover {
  color: burlywood;
}

/* Diseño del encabezado del home */
header {
  width: 100%;
  background-color: #725c3f;
  padding: 20px;
  box-sizing: border-box;
  /* Permite que el padding no se desborde, no suma */
}

.enlaces {
  display: flex;
  gap: 30px;
}

.enlaces a[href="index.html"] {
  visibility: hidden;
}

.enlaces:last-child {
  margin-right: 20px;
}

.logo {
  max-width: 100%;
  width: 150px;
  opacity: 80%;
  margin-left: 20px;
}

/* Background de imagen de bienvenida, posicionamiento y color */
.imagen-entrada {
  background-image: url("../img/imagen-entrada.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  position: relative;
}

/* Posicionamiento del logo 'portafiltro' por encima de 'Cullen's Coffee' */
.imagen-entrada img {
  position: absolute;
  top: 100px;
  width: 350px;
}

.imagen-entrada h2 {
  color: #e5e0d8;
  font-weight: 800;
  font-size: 80px;
  letter-spacing: 10px;
  text-align: center;
}

.imagen-entrada q {
  color: #e5e0d8;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 5px;
}

/* Ordena el contenido escrito por sobre el background */
.contenido-entrada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* Borden inferior del background de bienvenida */
.estilo-borde {
  border-bottom: 20px solid #725c3f;
}

/* Introduccion breve 'about us' */
.about-us {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 700px;
  gap: 10px;
}

.about-us h1 {
  margin-top: 80px;
  font-weight: 400;
  letter-spacing: 2px;
}

.about-us p {
  font-weight: 300;
}

/* Centro contenedor global de mapa + información */
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5%;
  width: 70%;
}

/* Establezco un gap entre los dos contenedores internos */
.contenido {
  display: flex;
  gap: 30px;
}

/* Establezco un background white para resaltar el contenedor global */
.diseño {
  background-color: white;
  padding: 20px;
  box-shadow: 20px 20px #725c3f;
}

/* H2 'Encontranos' */
.encontranos h2 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #725c3f;
  text-align: center;
}

/* Subtitulos columna derecha; horarios, dirección, visitanos */
.p1 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

/* Párrafos; los horarios, la dirección anchor, la dirección en párrafo  */
.p2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

.p2 a {
  text-decoration: none;
  color: #725c3f;
}

.p2 a:hover {
  color: burlywood;
}

/* Img de las columnas */
.img-columnas img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-top-right-radius: 50px;
  filter: brightness(50%);
}

/* Elementos article pertenecientes a columnas */
.img-columnas {
  flex: 1 1 100px;
  width: 25%;
  max-width: 300px;
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}

/* Contenedor de columnas */
.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  width: 100%;
  margin-bottom: 80px;
}

.titulo-columns {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #725c3f;
  padding: 20px;
}

.titulo-columns h1 {
  letter-spacing: 2px;
  color: white;
  font-weight: 400;
}

/* el h4 y la imagen las coloco en un div para tenerlos juntos*/
.title-exp {
  position: relative;
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.title-exp h4 {
  position: absolute;
  left: 3%;
  bottom: 10%;
  /* Se pone adelante el texto de la imagen*/
  text-align: left;
  color: #e5e0d8;
  font-size: 40px;
  font-weight: 900;
}

.columns p {
  margin-top: 10px;
  margin-left: 10px;
}

.carrousel-proveedores {
  display: flex;
  justify-content: center;
}

/* Optimizacion para celular*/
@media (max-width: 900px) {
  nav a:first-child {
    visibility: hidden;
  }

  nav a {
    font-size: medium;
    letter-spacing: 2px;
  }

  .enlaces a[href="index.html"] {
    visibility: visible;
  }

  .enlaces {
    flex-wrap: wrap;
    justify-content: right;
    gap: 10px;
  }

  .imagen-entrada img {
    top: 32%;
    width: 150px;
  }

  .imagen-entrada h2 {
    color: #e5e0d8;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
  }

  .contenido-entrada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: smaller;
  }

  .about-us {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 250px;
    gap: 10px;
  }

  .about-us h1 {
    margin-top: 40px;
    font-weight: 400;
    font-size: 20px;
  }

  .contenido{
    flex-direction: column;
    align-items: center;
    gap: 20px;

  }
  .mapa, .encontranos{
    width: 100%;
    text-align: center;
    max-width: 450px;
  }

  .titulo-columns {
  padding: 10px;
}

.titulo-columns h1 {
  font-size: medium;
}

  .columns {
    gap: 20px;
    padding: 0 15px;
  }

  .img-columnas {
    max-width: 100%;
  }

  .title-exp h4 {
    font-size: 22px;
  }
}
