* {
    font-family: raleway;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e0d8;

}

/* Logo y enlaces, añade espacio entre */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Enlaces del header: 'suppliers' y 'work with us' */
header a {
    color: #e5e0d8;
    text-decoration: none;
    text-align: right;
    font-weight: 500;
    font-size: x-large;
    letter-spacing: 5px;
}

header a:hover {
    color: burlywood;
}

/* Diseño del encabezado del home */
header {
    width: 100%;
    background-color: #725c3f;
    padding: 20px;
    box-sizing: border-box;
    /* Permite que el padding no se desborde, no suma */
}

.enlaces {
    display: flex;
    gap: 30px;
}

.enlaces a[href="../index.html"] {
    display: none;
}

.enlaces:last-child {
    margin-right: 20px;
}

.logo {
    max-width: 100%;
    width: 150px;
    opacity: 80%;
    margin-left: 20px;
}

.columns {
    display: flex;
    padding: 30px 30px;
    gap: 30px;
    justify-content: center;
}

.titulo-columns {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #725c3f;
    padding: 20px;
}

.titulo-columns h1 {
    letter-spacing: 2px;
    color: white;
    font-weight: 400;
}

.boton {
    display: flex;
    justify-content: center;
}

.boton button {
    background-color: initial;
    letter-spacing: 2px;
    border: 1px solid #725c3f;
    padding: 5px 80px;
    cursor: pointer;
    box-shadow: 5px 5px #725c3f;
    font-size: medium;
}

.boton button:hover {
    color: #725c3f;
}

.in-columns {
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 10px;
    border-color: white;
    box-shadow: 15px 15px #725c3f;
    max-width: 300px;
    max-height: 350px;
}

.prod {
    display: flex;
    flex-direction: column;
}

#title-exter {
    padding: 30px;

}

.textoo {
    background-color: white;
    padding: 10px;
    color: black;
    font-weight: bold;
    text-align: left;
}

#price {
    font-weight: normal;
}

footer {
    background-color: #725c3f;
    margin-top: 40px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.logo-footer img {
    width: 100px;
}

@media (max-width: 900px) {
    nav a:first-child {
        display: none;
    }

    nav a {
        font-size: medium;
        letter-spacing: 2px;
    }

    .enlaces a[href="../index.html"] {
        display: block;
    }

    .enlaces {
        flex-wrap: wrap;
        justify-content: right;
        gap: 10px;
    }

    .in-columns {
        display: flex;
        flex-direction: column;
        border: solid;
        border-width: 10px;
        border-color: white;
        box-shadow: 15px 15px #725c3f;
        max-width: 150px;
        max-height: fit-content;
    }

    .in-columns:hover {
        transform: translateY(-5px);
        box-shadow: 2px 2px 5px 5px;
        color: #593218;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease;
    }

    .prod {
        display: flex;
        flex-direction: column;
    }

    #title-exter {
        padding: 30px;

    }

    .textoo {
        background-color: white;
        padding: 10px;
        color: black;
        font-weight: bold;
        font-size: 12px;
        text-align: left;
    }

    #price {
        font-weight: normal;
    }

    .category {
        border: solid;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        border-width: 1px;
        border-style: outset;
        background-color: grey;
        text-align: left;
        font-size: small;
    }

    #img-circ {
        width: 50px;
        height: 50px;
        justify-content: center;
        border-radius: 50%;
        object-fit: cover;
    }

    .titulo-columns h1 {
        font-size: medium;
    }

    .titulo-columns {
        padding: 10px;
    }

    .boton button {
        font-size: small;
        padding: 10px 20px;
    }
}